#writeMorseButton {
     width: 50%; /* A specific width is required */
     padding: 40px;
 margin-bottom: 5%;
    margin-top: 5%;
}

#input_morse {
    height: 10%;
resize: none;
box-sizing: border-box;
display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 30px;
    text-align: right;
    white-space: nowrap;
    overflow-x: auto;
    border: none;
}

#spawn {
    float: right;
    background-color: blue;
    width: 10px;
    height: 100%;
}

#outside_input_div {
    background-color: white;
    height: auto;
    text-align: right;
    width: 90%;
    display: block;
    overflow: hidden;
    position: relative;
}
#input_morse_div {
    background-color: white;
    height: auto;
    text-align: right;
    width: 90%;
    display: block;
    overflow: hidden;
    position: relative;
}

#input_morse_text {
     font-size: 50px;
     position: relative;
}

#mainContent {
    background-color: rgb(213, 209, 209);
    display: grid;
    grid-template-columns: 1fr 1fr;
   gap: 20px;
   
   
}

#left {
    background-color: rgb(175, 188, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#meter {
    display: flex;
    width: 50%;
  height: 70px;
  border-radius: 5px;
  background-color: rgb(129, 129, 209); /* Or any other color name, hex code, RGB value, etc. */
  border: 1px solid black; /* Optional: adds a border for clarity */
}

#progress {
    width: 0%;
    height: 100%;
    background-color: aqua;
    position: relative;
    max-width: 100%;
}

#border {
    margin-left: 1%;
    position: absolute;
    display: flex;
    width: 1px;
  height: 70px;
  background-color: rgb(0, 0, 0); /* Or any other color name, hex code, RGB value, etc. */
  border: 1px solid black; /* Optional: adds a border for clarity */
}

#right {
    background-color: rgb(175, 188, 27);
    display: grid;
    place-items: center;
    padding-bottom: 5%;
}

#textArea {
    height: 80%;
resize: none;
box-sizing: border-box;
display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 20px;
}


