#output_morse {
    
    height: 70%;
    resize: none;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#input_morse { 

height: 70%;
resize: none;
box-sizing: border-box;
display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}

#input_text {
    height: 70%;
resize: none;
box-sizing: border-box;
display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#defaultArea {
    height: 70%;
resize: none;
box-sizing: border-box;
display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#input_div {
    width: 100%;
    background-color: aqua;  
    padding-top: 1%;
    padding-bottom: 1%;
  margin-top: 10px;
  float: right;
}

#output_div {
    width: 100%;
    background-color: rgb(0, 255, 64);  
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 10px;
    float: right;
}

#mainContent {
    background-color: rgb(213, 209, 209);
    display: inline-block;
    float: right;
}


