.navbar {
    display: flex;
    justify-content: space-between; /* Pushes content to the far ends */
    align-items: center;
    overflow: hidden;
    padding: 0 20px; /* Add some padding on the sides */
}

.navbar a {
    float: left; /* Optional, but standard for links */
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
  color: black;
}

.navbar-left, .navbar-right {
    display: flex; /* Makes the links inside behave as flex items */
    align-items: center;
}


#mainContent {
    background-color: rgb(236, 231, 231);
}

#output_morse {
    
    height: 70%;
    resize: none;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#input_morse { 

height: 70%;
resize: none;
box-sizing: border-box;
display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

}

#input_text {
    height: 70%;
resize: none;
box-sizing: border-box;
display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#defaultArea {
    height: 70%;
resize: none;
box-sizing: border-box;
display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#input_div {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
  margin-top: 10px;
}

#output_div {
    width: 100%; 
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 10px;
}


#writeMorse {
     width: 50%; /* A specific width is required */
     padding: 40px;
 
}